body {
  overflow-x: hidden;
  font-family: Helvetica;
  color: white;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*---Navigation --*/
.navbar {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background-color: rgba(0, 0, 0, 0.6)!important;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav li{
  padding-right: 30px;
  padding-left: 30px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: red;
}

#nowshowing .filmTitle{
    font-weight: bold;
    font-size: 30px;
}

#nowshowing a{
    text-decoration: none;
}
.logo {
  width: 200px;
  height: 45px;
}

/*--- Landing Page --*/

.cinema-num {
    text-align: center;
}

.details * {
    opacity: 0.5;
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.detail-movie {
    margin: auto;
}

.landing {
    padding-top: 50vh;
    height: 50vh;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}


.home-wrap {
  width: 100%;
  height: 100vh;
  background-image: url(img/john-wick.jpg);
  background-size: cover;
  background-position: center center;
}

.home-inner {
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  background-image: url(img/john-wick.jpg);
}

.info {
    margin-left: 120px;
    text-align: left;
}

.title {
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.title span{
    color: #ED2024;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 70%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.btn-lg{
  border-width: medium;
  padding: .6rem 1.3rem;
  font-size: 1.5rem;
}

.btn-danger:hover {
  background-color: #ED2020;
  border-color: #ED2020;
}

.moviesNow {
  width: 23.4rem;
  height:31.25rem;
}

.movie-desc {
    background-image: url(img/cinema.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
}

.movie-sum {
    font-size: 1.2rem;
}

.movie-title {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 180px;
    margin-bottom: 30px;
}

.jumbotron{
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  background-color: #ED2024;
  border-radius: 0;
}

h1.heading{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-underline {
  width: 10rem;
  height: 0.2rem;
  background: white;
  margin: 0 auto 2rem;

}

.textDuration{
  margin-bottom: -10px;
}


.title-tickets {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 180px;
    margin-bottom: 30px;
}


.narrow{
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1{
  font-size: 10rem;
}

.poster {
    margin: auto;
    padding-top: 100px;
    width: 26rem;
    text-align: center;
}

.seat {
    float: left;
    display: block;
    margin: 4px 4px;
    background: #D82052;
    width: 20px;
    height: 20px;
    border-radius: 6px;
}

.seat-select {
    display: none;
    margin:;
}

.seat:hover{
    background: #E23866;
}

.seat-select:checked+.seat {
    background: #5DBE60;
}


.seat:checked {
    content: "X";
}

.seat-selction {
    max-width: 30%!important;
}

.seat-selection img {
    margin: 50px;
}

.seats {
    margin: 0 1px;
}

.tickets-desc{
    background-image: url(img/cinema.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
}

/*--- Footer ---*/
footer {
  background-color: black;
  color: white;
  padding:  2rem 0 2rem;
}

.footerlogo {
  width: 250px;
  height: 60px;

}
.footertext {
  margin-top: 0.2rem;
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
